<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- DB설정(Connection) -->

 <typeAliases>   
    <typeAlias type="com.bo.login.dto.MemberBean" alias="bean"/>
    <typeAlias type="com.bo.board.dto.BoardBean" alias="Boardbean"/>
     
    </typeAliases>  
       
    <mappers>
       <mapper resource="com/bo/login/mapper/resi-mapper.xml"/>
       <mapper resource="com/bo/board/mapper/board-mapper.xml"/>
    </mappers>
</configuration>